.calculator {
  width: 300px;
  background-color: #1f1f1f
}

.calculator-screen {
  width: 98%;
  font-size: 2.5rem;
  height: 80px;
  border: none;
  background-color: #1f1f1f;
  color: #fff;
  text-align: right;
}

button {
  height: 50px;
  border: 0px;
  background-color: #000;
  font-size: 20px;
  color: #fff;
}

.operator {
  background-color: #131313!important;
  font-size: 30px;
}

.equal {
  background-color: #133a49;
  border-color: #133a49;
  color: #fff;
  font-size: 30px;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  padding: 2px;
}
