<h1>Calculadora en Angular</h1>
<div class="calculator">
  <input type="text" class="calculator-screen" [value]="number" disabled />
  <div class="calculator-keys">
    <button type="button" (click)="setNumber('7')">7</button>
    <button type="button" (click)="setNumber('8')">8</button>
    <button type="button" (click)="setNumber('9')">9</button>
    <button
      type="button"
      (click)="setOperator('*')"
      [disabled]="firstNumber == ''"
      class="operator"
      value="*"
    >
      &times;
    </button>
    <button type="button" (click)="setNumber('4')">4</button>
    <button type="button" (click)="setNumber('5')">5</button>
    <button type="button" (click)="setNumber('6')">6</button>
    <button
      type="button"
      (click)="setOperator('-')"
      [disabled]="firstNumber == ''"
      class="operator"
      value="-"
    >
      -
    </button>
    <button type="button" (click)="setNumber('1')">1</button>
    <button type="button" (click)="setNumber('2')">2</button>
    <button type="button" (click)="setNumber('3')">3</button>
    <button
      type="button"
      (click)="setOperator('+')"
      [disabled]="firstNumber == ''"
      class="operator"
      value="+"
    >
      +
    </button>
    <button type="button" (click)="clear()" class="all-clear" value="all-clear">
      CE
    </button>
    <button type="button" (click)="setNumber('0')">0</button>
    <button type="button" class="decimal" value="." disabled>,</button>
    <button
      type="button"
      class="equal"
      value="="
      [disabled]="firstNumber == ''"
      (click)="doMath()"
    >
      =
    </button>
  </div>
</div>
<router-outlet></router-outlet>
